{% extends "layout.html" %}

{% block body %}

<form action="/registar" method="post">
    <div class=" grid grid-cols-5 mt-16">
        <div></div>
        <div class=" grid grid-rows-3 bg-slate-950 col-span-3 place-content-center rounded-md mx-5">
            <input type="text" placeholder="Enter a username" name="userr" autocomplete="off"> <br>
            <input type="password" placeholder="Enter a password"> <br>
            <input type="password" name="pwerd" placeholder="Confirm your password"> <br>
            <button type="submit">Register</button>
        </div>
    </div>
</form>

{% endblock %}