.ind {
    font-family: "Indie flower", serif;
}

.pat {
    font-family: "Patrick Hand";
}

.gre {
    font-family: "Great Vibes";
}

.perm {
    font-family: "Permanent Marker";
}

.sed {
    font-family: "Sedgwick Ave Display";
}